{
  "ConnectionString" : "Server=localhost,1433;Database=JaysDb;User Id=sa;Password=yourStrong(!)Password;Encrypt=False;",
  "IssueAudience": "",
  "IssueSign": "",
  "IssuerSigningKey": "",
  "AdminEmail": "admin@admin.com",
  "AdminPw": "admin123"
}